<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Onyeka">
    <title>Ecommerce spending estimate</title>

    <!-- Favicons -->
    <!-- Custom styles for this template -->
  </head>
  <body class="text-center">

   

    <div>
      <h1>
        Ecommerce Site Annual Spending Estimate
  
      </h1>
  
        <form action="{{ url_for('predict')}}" method="post">
            <input type='text' name="Avg. Session Length" placeholder="Avg. Session Length" required="required" /><br>
            <input type='text' name="Time on App" placeholder="Time on App" required="required" /><br>
            <input type='text' name="Time on Website" placeholder="Time on Website" required="required" /><br>
            <input type='text' name="Length of Membership" placeholder="Length of Membership" required="required" /><br>
    
    
            <button type="submit">Predict</button>
    
        
        </form>
        <br>
        <br>

    </div>

    {{prediction_output}}
    
  </body>
</html>